<nav class="mx-auto flex items-center justify-between p-3 lg:px-4">
  <div class="flex items-center">
    <div class="flex items-center justify-between">
      <a data-testid="home-page-link" routerLink="/" class="flex">
        <span class="self-center whitespace-nowrap text-2xl font-semibold">
          PuduBlog
        </span>
      </a>
    </div>
  </div>
  <div class="flex items-center">
    <div class="flex items-center justify-between">
      <app-theme-selector />
    </div>
  </div>
</nav>
